@{
    ViewBag.Title = "Home Page";
}

<br />
<form action="/Home/SearchProducts" method="get">
    Product Name: <input type="text" name="productName" />
    <br />
    <input type="submit" value="Search!" />

</form>